$colorPrimary: #3498db;
$colorSecondary: #fff;

.action-btn{
  border: 1px solid transparent;
  color: $colorSecondary;
  background-color: $colorPrimary;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.action-btn:hover{
  border: 1px solid $colorPrimary;
  color: $colorPrimary;
  background-color: $colorSecondary;
}